@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700);

span.icons {
	float:right;
	padding-right: 1.5em;
}
span.menu {
	border: 1px dotted #66a;
	padding: 5px;
	margin: 5px;
    margin-left: 1em;
}
    
body {
	padding: 0;
	margin: 0;
	font-family: Lucida,"Lucida Sans","Lucida Sans Unicode","Lucida Grande";
	color: #222;
	background-color: white;
}
.region {
	margin: 0;
	padding: 3pt;
}
#topbar {
	position: fixed; top: 0; left: 0;
	width: 100%;
	height: 1.8em;
	background-color: #F88;
	padding-left: 1em;
	padding-right: 3em;
	padding-top: 0.5em;
}
#local {
    margin: 16pt;
	display: none;
}
#local ul li {
	margin-top: 0.5em;
	padding: 0.25em;
	border: 1px dotted silver;
}
#content {
	margin: 16pt;
	height: 100%;
}
#bottombar {
	height: 20px;
	background-color: lightblue;
}

#heading {
	color: black;
}
#summary {
	font-style: italic;
}
#author {
	font-size: 90%;
}
#article, #comments {
	line-height: 1.8em;
}

/* responsive section */
@media screen and (min-width: 30em) {
  #content {
		width: 30em;
		margin-left: auto;
		margin-right: auto;
  }
	.videoPlayer {
		width: 100%;

	}
}

