/* @import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700); */

html { 
	overflow: scrollbars-vertical;
	overflow-y: scroll;
	position: relative;
	min-height: 100%;
}
body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto',Lucida,"Lucida Sans","Lucida Sans Unicode","Lucida Grande", Helvetica, Arial, normal, sans-serif;
	color: white;
	background-color: black;
}
hr {
	border: 0;
	height: 1px;
	color: #aaa;
	background-color: #aaa;
	opacity: 0.5;
	width: 100%;
}
a {
	color: #8888ff;
}

/* article layout */

h2 {
    margin-bottom: 0.25em;
    padding-bottom: 0em;
		color: white;
}
p.byline {
	margin-top: 0px;
}
p.media {
	font-size: 50%;
}

/* header */

span.iconright {
	float:right;
    margin: 0em 1.5em 0em 0.5em;
}
span.iconleft {
    margin: 0.5em 0.5em 0em 0.5em;
}
span.iconleft img {
	vertical-align: middle;
}
span.menu {
	border: 1px dotted #66a;
	padding: 5px;
	margin: 5px;
    margin-left: 1em;
    display: inline;
}
#topbar {
	/* position: fixed; */
	top: 0; left: 0;
	width: 100%;
	height: 80px;
	background-color: black;
	border-bottom: 1px solid #222;
	color: white;
}
#local, #feature {
  margin: 2pt;
	display: none;
	background-color: black;
	color: white;
}

/* ---- article list  ---- */

ul.articlelist {
	margin: 0;
	padding-left: 0;
  list-style-type: none;
}
ul.articlelist li {
	padding: 1em;
	border: none;
	border-bottom: 1px solid #666;
}
ul.articlelist li a {
	color: white;
	text-decoration: none;
}
ul.articlelist li a:visited {
    color: #bbb;
    text-decoration: none;
}

/* bottom bar */

#bottombar {
	font-size: 10pt;
	height: 140px;
	clear: both;
}
#bottombar button {
	margin: 0pt 5pt 12pt 5pt;
	padding: 1px;
	font-size: 8pt;
	corner-radius: 0px;
	border: 1px solid white;
}

/* article layout */

#content {
	margin: 16pt;
	height: 100%;
}
#heading {
	color: white;
}
#summary {
	font-style: italic;
}
#author {
	font-size: 90%;
}
#article, #comments {
	line-height: 1.8em;
}
#article {
	display: block;
	padding-bottom: 3%:
}

/* discussion and feedback buttons */

#article div.disc {
	border: 1px solid #888;
	height: 40px;
	line-height: 30px; /* moves the baseline lower than it would be, thus centering text */
                     /* and fixing its vertical position */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
#article div.disc span.disc-btn {
	display: inline-block;
	cursor: pointer;
	border: 1px solid #888;
	border-left: none;
	padding: 5px 11px 5px 11px;
	margin: -1px 0px 0px -1px; /* pushes button border into the div.disc border */
	font-size: 14px;
	height: 30px; /* total height, 50 = 30 + padding*2 */
}
#article div.disc span.disc-btn:nth-child(1) {
	border-left: 1px solid #888;
}


#qrcode {
	text-align: center;
	width: 130px;
	padding: 5px;
	background-color: white;
	float: left;
	margin: 0px 15px 0px 15px;
}

/* main screen, the "thumbscreen" */

#thumbscreen ul li.thumb span.label {
	display: table-cell;
	vertical-align: middle;
	width: 119px;
	height: 119px;
}
#thumbscreen ul li.thumb {
	display: block;
	float: left;
	width: 119px;
	height: 119px;
	margin: 3pt;
	text-align: center;
	position: relative;
	-android-border-radius: 5dip;
	border-radius: 3px;
}
#thumbscreen ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    background-color: black;
}
#thumbscreen {
	background-color: black;
	width: 100%;
	height: 640px;
}
#thumbscreen a {
	color: black;
}

/* color classes for thumbscreen */

.red { background-color: #a71e1e; }
.white { background-color: #fff; }
.blue { background-color: #2608a4; }
.gray { background-color: #272f27; }
#thumbscreen .gray a, .gray a:visited { color: white; }
.green { background-color: #06660d; }
.yellow { background-color: #ffd02b; color: black; }
.orange { background-color: #dc7200; }

/* shape classes for thumbscreen */

.round { border-radius: 50% !important; }


/* settings dialog */

#settingswrapper {
	background-color: black;
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	z-index: 1;
	display: none;
}
#settings {
	z-index:2;
	width: 94%;
	left: 2%;
	top: 0;
	font-size: 10pt;
	height: 120pt;
	color: black;
	background-color: white;
	position: fixed;
	padding: 10px;
	padding-top: 30px;
	text-align: center;
	display: none;
}
.setting {
	width: 80%;
	display: block;
	margin: 10pt auto 10pt auto;
}

/* share dialog */

#share {
	z-index:2;
	width: 94%;
	left: 2%;
	bottom: 0;
	font-size: 10pt;
	height: 300pt;
	color: black;
	background-color: white;
	position: fixed;
	padding: 10px;
	padding-bottom: 30px;
	text-align: center;
	display: none;
}
ul.share {
	margin: 0;
	padding-left: 0;
  list-style-type: none;
}
ul.share li {
	font-size: 12pt;
	padding: 1em;
	border: none;
	border-bottom: 1px solid #666;
}
ul.share li a {
	color: white;
	text-decoration: none;
}
ul.share li a:visited {
    color: #bbb;
    text-decoration: none;
}

/* text editor for publishing */

#editor {
}
#editor-type form textarea {
	width: 90%;
	height: 90%;
}
/* fixme */
#editor-menu ul.tabs {

}
#editor-menu ul.tabs li {

}

.noselect {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
  cursor: pointer;
}

/* calendar */
.eventdate {
	font-size: 80%;
	color: #ddd;
	margin-left: 5pt;
}
/* responsive section */
@media screen {
  #content {
        width: 870px;
        margin-left: auto;
        margin-right: auto;
  }
  img.photo {
    width: 100%;
  }
.videoPlayer {
    width: 320px;
  }
}
@media screen and (max-width: 280px) {
	#sitename {
	   display: none;
	}
}
@media screen and (max-width: 320px) {
  #content {
    width: 90%;
    max-width: 320px;
    margin: 2px;
  }
  #topbar .menu {
    display: none;
  }
  .videoPlayer {
	width: 100%;
  }
}
@media screen and (max-width: 480px) {
  #content {
    width: 90%;
    max-width: 480px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .videoPlayer {
    width: 100%;
  }
  #topbar .menu {
    display: none;
  }
}
@media screen and (max-width: 640px) {
	p.media img {
		width: 99%;
		height: auto;
	}
}
@media screen and (max-width: 900px) {
  #content {
    width: 90%;
    max-width: 900px;
  }
  #topbar .menu {
    display: none;
  }
}

