/* @import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700); */

html { 
	overflow: scrollbars-vertical;
	overflow-y: scroll;
}
h2 {
    margin-bottom: 0.25em;
    padding-bottom: 0em;
		color: white;
}
p.byline {
	margin-top: 0px;
}
p.media {
	font-size: 50%;
}
span.iconright {
	float:right;
    margin: 0em 1.5em 0em 0.5em;
}
span.iconleft {
    margin: 0.5em 0.5em 0em 0.5em;
}
span.iconleft img {
	vertical-align: middle;
}
span.menu {
	border: 1px dotted #66a;
	padding: 5px;
	margin: 5px;
    margin-left: 1em;
    display: inline;
}
    
body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto',Lucida,"Lucida Sans","Lucida Sans Unicode","Lucida Grande", Helvetica, Arial, normal, sans-serif;
	color: white;
	background-color: black;
}
.region {
	margin: 0;
	padding: 10pt;
}
#topbar {
	/* position: fixed; */
	top: 0; left: 0;
	width: 100%;
	height: 80px;
	background-color: black;
	border-bottom: 1px solid #222;
	color: white;
}
#local, #feature {
  margin: 2pt;
	display: none;
	background-color: black;
	color: white;
}
ul.articlelist {
	margin: 0;
	padding-left: 0;
  list-style-type: none;
}
ul.articlelist li {
	padding: 1em;
	border: none;
	border-bottom: 1px solid #666;
}
ul.articlelist li a {
	color: white;
	text-decoration: none;
}
ul.articlelist li a:visited {
    color: #bbb;
    text-decoration: none;
}
#content {
	margin: 16pt;
	height: 100%;
}
#bottombar {
	height: 20px;
	background-color: black;
	clear: both;
}

#heading {
	color: white;
}
#summary {
	font-style: italic;
}
#author {
	font-size: 90%;
}
#article, #comments {
	line-height: 1.8em;
}
#article {
	display: block;
}
#qrcode {
	text-align: center;
	width: 100%;
}
#thumbscreen ul li.thumb span.label {
	display: table-cell;
	vertical-align: middle;
	width: 119px;
	height: 119px;
}
#thumbscreen ul li.thumb {
	display: block;
	float: left;
	width: 119px;
	height: 119px;
	margin: 3pt;
	text-align: center;
	position: relative;
}
#thumbscreen ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    background-color: black;
}
#thumbscreen {
	background-color: black;
	width: 100%;
	height: 640px;
}
#thumbscreen a {
	color: black;
}

.noselect {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
  cursor: pointer;
}

/* calendar */
.eventdate {
	font-size: 80%;
	color: #ddd;
	margin-left: 5pt;
}

/* color classes for thumbscreen */
.red { background-color: #a71e1e; }
.white { background-color: #fff; }
.blue { background-color: #2608a4; }
.gray { background-color: #272f27; }
  #thumbscreen .gray a, .gray a:visited { color: white; }
.green { background-color: #06660d; }
.yellow { background-color: #ffd02b; color: black; }
.orange { background-color: #dc7200; }

/* responsive section */
@media screen {
  #content {
        width: 870px;
        margin-left: auto;
        margin-right: auto;
  }
  img.photo {
    width: 100%;
  }
.videoPlayer {
    width: 320px;
  }
}
@media screen and (max-width: 280px) {
	#sitename {
	   display: none;
	}
}
@media screen and (max-width: 320px) {
  #content {
    width: 90%;
    max-width: 320px;
    margin: 2px;
  }
  #topbar .menu {
    display: none;
  }
  .videoPlayer {
	width: 100%;
  }
}
@media screen and (max-width: 480px) {
  #content {
    width: 90%;
    max-width: 480px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .videoPlayer {
    width: 100%;
  }
  #topbar .menu {
    display: none;
  }
}
@media screen and (max-width: 640px) {
	p.media img {
		width: 99%;
		height: auto;
	}
}
@media screen and (max-width: 900px) {
  #content {
    width: 90%;
    max-width: 900px;
  }
  #topbar .menu {
    display: none;
  }
}

